.dogFoods{
    padding: 2rem 0;
}
.dogFoods__wrapper{
    display: flex;
    justify-content: space-between;
}
.dogFoods__wrapper__left{
    padding-left: 2rem;
    width: 170px;
}
.category{
    line-height: 2rem;
    border-bottom: 1px solid #eee;
    width: 250px;
}
.category h3{
    font-size: 1.8rem;
    color: var(--black-4);
    padding-bottom: 1rem;
}
.category li{
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
}
.category a{
    color: var(--blue-1);
}

.autoShip,
.category__name{
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
    width: 250px;
}
.autoShip__wrapper,
.category__name__wrapper{
    display: flex;
    justify-content: space-between;
}
.autoShip__checkbox,
.category__name__checkbox{
    padding-right: 1rem;
}
.autoShip__checkbox input,
.category__name__checkbox input{
    width: 20px;
    height: 20px;
}
.autoShip__info svg{
    width: 24px;
    height: 24px;
}
.autoShip__info a,
.category__name__content a{
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--black-1);
}
.autoShip__icon{
    display: flex;
    align-items: center;
    height: 20px;
}
.autoShip__desc{
    font-size: 1.4rem;
    width: 220px;
    padding: 1.4rem 0;
}
.category__name__wrapper{
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.4rem;
}
.category__name__content a{
    color: #121212;
    font-weight: 400;
}
.category__name__title{
    font-size: 2rem;
    font-family: "Poppins",sans-serif;
    padding-bottom: 2rem;
    font-weight: 500;
}
.category__name__icon{
    margin-bottom: 5px;
}
.category__name__icon i{
    color: #f8ae24;
}
.category__name__icon span{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}